.homeContainer {
  opacity: 1;
  background-image: radial-gradient(#ff0000 0.45px, #ffffff 0.45px);
  background-size: 0.563em 0.563em;
  min-height: 100vh;
}

h1 {
  color: white;
}

.cardsComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.linkDetail {
  text-decoration: none;
  color: inherit;
  width: calc(21%);
  margin-top: 1em;
  margin-bottom: 1em;
}

.filtersComponent {
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5em;
  background-color: white;
  padding-top: 2em;
  font-size: 0.9em;
}

.filters {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 21.875em;
}

.loader {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 23.75em;
  height: 23.75em;
}

@media only screen and (min-width: 319px) and (max-width: 767px) {
	.filtersComponent {
    display: flex;
    align-items: center;
    flex-direction: column ;
    padding-bottom: 1em;
    background-color: white;
    padding-top: 0.5em;
    width: 100%;
    font-size: 0.8em;
  }
  .filters {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .linkDetail {
    text-decoration: none;
    color: inherit;
    width: calc(49%);

  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
	.filtersComponent {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1em;
    background-color: white;
    padding-top: 0.5em;
    width: 100%;
  }
  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .linkDetail {
    text-decoration: none;
    color: inherit;
    width: calc(30%);

  }
}